body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.configuracion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.configuracion h2 {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%; /* O puedes usar un valor fijo como 150px */
    padding: 10px;
    background-color: #3650ba;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.3);
    display: block; /* Asegúrate de que el botón sea un elemento de bloque */
    margin: auto; /* Esto centrará el botón horizontalmente */
    margin-left: 0.8pc;
}

button:hover {
    background-color: #725cbe;
}

/* estilo botton  */

